@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

:root {
    --primary: #7F56D9;
    --secondary: #F4EBFF;
    --text-primary: #101828;
    --text-secondary: #667085;
    --badge-bg: #ECFDF3;
    --badge-text: #027A48;
    --body:#043dab;
    --white: #fff;
    --dropdown-bg: rgb(252, 253, 251);
    --shadow: rgba(32, 7, 65, 0.14);
    --container: 124rem;
    --nav-height: 12rem;
}
a{text-decoration: none;}
html {
    font-family: 'Inter', sans-serif;
    font-size: 62.5%;
    font-style: normal;
}

body {
    font-size: 1.6rem;
    background-color: #e3a59d;
}
ul, ol {
    margin-top: 10px;
    margin-bottom: 0;
}
header{
    background: var(--body);
}
.container {
    max-width: var(--container);
    margin: 0 auto;
    padding: 0 1rem;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: var(--nav-height);
    position: relative;
    background: var(--body);
    position: relative;
}

.nav_list {
    display: inline-flex;
    gap: 0;
    align-items: center;
    margin: 0 1.5rem;
    text-align: center;
    justify-content: center;
}

.nav_list::after {
    content: "";
    display: block;
    border-right: 1px solid #5eddf3;
    height: 33px;
    top: -6px;
    right: 0;
    left: 17px;
    position: relative;
  }
 .nav_list:nth-child(5)::after {
   border-right: 0;
}

.nav_action {
    display: flex;
    align-items: center;
    gap: 0.4rem;
}

.nav_link{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: .5rem;
    font-weight: 700;
    color: var(--white);
    font-size: 15px;
    text-transform: uppercase;
}


.has-dropdown .nav_link::after {
    content: "";
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 14px solid #fff;
    margin-top: 0;
    margin-left: 0;
    position: relative;
    top: 38px;
    visibility: hidden;
    transition: visibility 0.3s ease;
}

.has-dropdown .nav_link:hover::after {
    visibility: visible;
}

.search{
    background-color: #e3a59d;
    display: flex;
    cursor: pointer;
    color: #15364c;
    border: none;
    border-radius: 50%;
    padding: 10px;
    position: relative;
    top: 26px;
}
.nav_link i{display: none;}
.nav_link:hover{
    color: #5eddf3; text-decoration: none;
}

.nav_toggle {
    cursor: pointer;
    display: none;
}

.nav_toggle ion-icon {
    font-size: 3.5rem;
    color: var(--white);
    background: #4c94ff;
}
.dropdown {
    position: absolute;
    top: var(--nav-height);
    left: 0;
    width: 100%;
    background: var(--dropdown-bg);
    box-shadow: 0rem 0.2rem 0.5rem var(--shadow);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    transition: clip-path 0.5s ease;
    margin-top: 20px;
    border-radius: 10px;
}

.product-dropdown{
    padding: 50px;
}

.product-item {
    padding: 20px; 
  }
  .product-data {
    text-align: center;
  }
  .product-img {
    max-width: 100%; 
    height: auto;
    margin-bottom: 10px;
  }
  .product-title {
    font-size: 20px;
    font-weight: 600;
    color: var(--body);
    margin-bottom: 5px; 
  }
  .product-description {
    color: var(--body);
    font-size: 14px; 
  }

.dropdown-inner .item-list {
    width: 100%; 
}


.nav_list_menu:hover .dropdown{
    clip-path: polygon(0 0, 100% 0, 100% 102%, 0 102%);
    transition: clip-path 0.5s ease;
}
.dropdown .nav_link:hover {
    color: #5eddf3; /* Change text color on hover */
    text-decoration: underline; /* Add underline on hover */
}

.bg-shape {
    background-color: #fff;
    border-radius: 50px;
    padding: 10px 10px;
    box-shadow: 0 0 10px rgba(0,0,0,.2);
    right: 35px;
    position: absolute;
    top: 0;
    text-align: center;display: flex;
  }
  .bg-shape i{padding: 0 9px;}
  .socialmedia{display: none;}

@media (max-width:730px) {
    .has-dropdown .nav_link::after {display: none;}
    .navigation{
        position: static;
        height: 7rem;
    }
    br{display: none;}

   
    .socialmedia{
        display: flex;
        padding: 0rem 2rem;
        padding-bottom: 2rem;
        justify-content: center;
    }
    .bg-shape{display: none;}
    .socialmedia li i{
        font-size: 3rem;
    color: #fff;
    padding: 0 2rem;
    }
    .nav_toggle {
        display: block;
    }
    .navigation .nav_menu  {
        display: none;
    }
    .nav_list:after {
        height: 0;
    }

    .nav_menu {
        position: absolute;
        top: 5rem;
        left: 0;
        width: 100%;
        background: var(--body);
        display: none;
    }
    .nav_menu.active {
        display: block;
    }
    .nav_list {
        display: block;
        margin: 2rem 0;
        text-align: center;
        border-bottom: 1px solid #fff;
    }
    .nav_list:nth-child(1){
        border-top: 1px solid #fff;
    }
    .nav_link {
        padding: 0 2rem;
        display: flex;
        justify-content: start;
        align-items: center;
        flex-direction: row;
        margin-bottom: 20px;
        margin-top: 20px;
        position: relative;
    }
    .nav_link i{
        display: block;
        position: absolute;
        right: 22px;
        top: 10px;
        align-items: center;
        font-size: 18px;
    }
    .dropdown {
        top: 0;
        position: relative;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        box-shadow: none;
        height: 0;
        text-align: start;
        transition: all 0.5s ease-in;
    }
    .nav_list_menu:hover .dropdown {
        height: 100%;
        transition: all 0.5s ease-in;
    }
    .dropdown {
    margin-top: 0;
    }
    .nav_list {
         max-width: 100%; 
    }
    .search {
        top: 0px;
    }
    
}

@media (max-width:365px) {
    .logo-img {
        width: 10rem;
    }
    .btn,
    .btn-primary {
        padding: 0.4rem 1rem;
    }
}